@import "variables";
@import "functions";

.arts {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  &__art {
  }
}

.art {
  background: red;
  transition: all 0.5s;
  position: absolute;
  border: 1px solid #888;
  transform: translateZ(0);
  max-width: $desktop-width;
  max-height: 100%;
  &--active {
    transform: rotate3d(0, 0, 0, 0deg) translateZ(5000px) !important;
  }
}

.artPage {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;

  &__mainArea {
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
  }
  &__positioning {
    flex: 1;
  }
}
