@import "variables";
@import "functions";

.header {
  margin-bottom: 15px;
  //border-bottom: 1px solid colors(5);

  // background-color: colors(1, 1);
  &__outer_title {
    margin: 0 auto;
    width: $desktop-width;
    //border: 1px solid colors(5);
  }
}

.title_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__title {
  }
  &__link {
    background: $white;
    border: 1px solid transparent;
    color: colors(1);
    display: inline-block;
    letter-spacing: 1pt;
    margin: 50px;
    padding: 3px 10px;
    transition: border 0.1s;

    &:visited {
      color: colors(1);
    }

    &:hover {
      border-color: colors(3);
      color: colors(3);
    }
  }
}
