@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap");

.roboto {
  font-family: "Roboto", sans-serif;
}

.sankofa {
  font-family: "Sankofa Display", cursive;
}

:root {
  --desktop-width: 960px;
  --my-red: #ff6b6b;
  --my-green: #c7f464;
  --my-aqua: #4ecdc4;
  --my-yellow: #ffff6f;
  --my-white: rgb(253, 253, 253);
  --my-black: rgb(26, 14, 0);

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes color-cycle {
  0% {
    background-color: theme("colors.primary.DEFAULT");
  }
  25% {
    background-color: theme("colors.secondary.DEFAULT");
  }
  50% {
    background-color: theme("colors.tertiary.DEFAULT");
  }
  75% {
    background-color: theme("colors.quaternary.DEFAULT");
  }
  100% {
    background-color: theme("colors.primary.DEFAULT");
  }
}

body {
  color: rgb(var(--foreground-rgb));
  animation: 8s infinite color-cycle;
}

@layer components {
  .header-btn {
    @apply border;
    @apply border-white;
    @apply bg-white;
    @apply px-3;
    @apply py-1;
    @apply text-2xl;
    @apply text-primary;
    @apply underline;
    @apply hover:border-teal-500 hover:text-teal-500;
    @apply duration-150;
    transition-property: border;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
