@import "variables";

@keyframes pulse-main {
  0% {
    background-color: mix($white, $cool-grey, 50%);
  }

  50% {
    background-color: mix($white, $warm-grey, 50%);
  }

  100% {
    background-color: mix($white, $cool-grey, 50%);
  }
}

@keyframes pulse-sides {
  0% {
    background-color: mix($white, $warm-grey, 50%);
  }

  50% {
    background-color: mix($white, $cool-grey, 50%);
  }

  100% {
    background-color: mix($white, $warm-grey, 50%);
  }
}

@keyframes fadey {
  0% {
    opacity: 1;
  }

  25% {
    opacity: $opacity-amount;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: $opacity-amount;
  }

  100% {
    opacity: 1;
  }
}
