@import "variables";

@keyframes pulse-main {
  0% {
    background-color: $orange;
  }

  50% {
    background-color: $yellow;
  }

  100% {
    background-color: $orange;
  }
}

@keyframes pulse-sides {
  0% {
    background-color: $yellow;
  }

  50% {
    background-color: $green;
  }

  100% {
    background-color: $yellow;
  }
}
