@import "variables";

.header {
  background-color: $firstcolor;
  &__title-wrapper {
    margin: 0 auto;
    padding: 0.5rem 1rem;
    width: $desktop-width;

    background-color: $secondcolor;
  }
}
