$opacity-amount: 1;

$black:      #000;
$white:      #fff;
$warm-grey:  #9e9e9e;
$cool-grey:  #607d8b;

$blue:       #2196f3;
$teal:       #009688;
$green:      #8bc34a;
$lime-green: #cddc39;
$music-blue: #03a9f4;
$purple:     #9c27b0;
$red:        #e91e63;
$redorange:  #ff5722;

$display1-typeface: "Permanent Marker";
$display2-typeface: "Hack";

%display1-font {
  font-family: $display1-typeface;
  font-weight: normal;
}

%display2-font {
  font-family: $display2-typeface, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

%headline1 {
  @extend %display1-font;

  font-size: 40px;
  margin: 0;
}

%headline2 {
  @extend %display2-font;

  font-size: 12pt;
  margin: 0;
}
