$desktop-width: 960px;

$red: #FF6B6B;
$blue: #C7F464;
$green: #4ECDC4;
$yellow: #C44D58;
$white: rgb(253, 253, 253);

$firstcolor: $red;
$secondcolor: $blue;
$thirdcolor: $green;
$fourthcolor: $yellow;
