$opacity-amount: 1;

$black:  #1a1a1a;
$white:  #ffffff;

$pink:   #0E3D59;
$orange: #88A61B;
$yellow: #F29F05;
$green:  #F25C05;
$blue:   #D92525;

$lightblue:   mix($white, $blue, 60%);

$display1-typeface: "Permanent Marker";
$display2-typeface: "Noto Sans";

%display1-font {
  font-family: $display1-typeface;
  font-weight: normal;
}

%display2-font {
  font-family: $display2-typeface, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

%headline1 {
  @extend %display1-font;

  font-size: 40px;
  margin: 0;
}

%headline2 {
  @extend %display2-font;

  font-size: 12pt;
  margin: 0;
}

body {
  @extend %display2-font;
}
